<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div class="user-details">
      <div class="pull-left">
        <img src="images/user.png" alt="" class="thumb-md img-circle" />
      </div>
      <div class="user-info">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href=""><i class="md md-settings-power"></i>&amp; Logout</a>
            </li>
          </ul>
        </div>

        <p class="text-muted m-0">hasil</p>
      </div>
    </div>
    <!--- Divider -->
    <div id="sidebar-menu">
      <ul>
        <li>
          <a href="" class="waves-effect"><i class="md md-home"></i><span> Dashboard </span></a>
        </li>
        <li>
          <a href="" class="waves-effect"><i class="fa fa-plus"></i><span> Buat Transaksi </span></a>
        </li>
        <li>
          <a href="" class="waves-effect"><i class="fa fa-clock-o"></i><span> Riwayat Transaksi </span></a>
        </li>
        <li>
          <a href="" class="waves-effect"><i class="fa fa-user-plus"></i><span> Tambah Siswa </span></a>
        </li>
        <li class="has_sub">
          <a href="#" class="waves-effect">
            <i class="fa fa-list"></i>
            <span> Data </span>
            <span class="pull-right">
              <i class="md md-add"></i>
            </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="">Jadwal</a></li>
            <li><a href="">Siswa</a></li>
            <li><a href="">Guru</a></li>
            <li><a href="">Admin</a></li>
            <li><a href="">Mata Pelajaran</a></li>
            <li><a href="">Pembelian</a></li>
            <li><a href="">Pemakaian</a></li>
          </ul>
        </li>
        <li class="has_sub">
          <a href="#" class="waves-effect">
            <i class="fa fa-user"></i>
            <span> Admin Menu </span>
            <span class="pull-right">
              <i class="md md-add"></i>
            </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="">Tambah Admin</a></li>
            <li><a href="">Tambah Guru</a></li>
            <li><a href="">Olah Admin</a></li>
            <li><a href="">Olah Guru</a></li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
