{% extends 'layouts/main.html' %}

{% block content %}
<form method='post' action='/guru/insert'>
    <div class="panel panel-border panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Tambah Guru</h3>
        </div>
        <div class="panel-body">
            <div class="control-group">
                <div class="form-group">
                    <input type="hidden" name="id">
                    <label>Nama Guru</label>
                    <div class="span"><input class="form-control" placeholder="Masukan Nama Guru"  type="text" name="nama"></div>
                </div>
                <div class="form-group">
                    <label>Email Guru</label>
                    <input class="form-control" placeholder="Masukan Email Guru"  type="text" name="email" >
                </div>

                <Br>
		    	<input type="submit" class="btn btn-success" value="Selesai">
                <a class="btn btn-danger" href="/guru">Batal</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}